@model GAWebApp.Models.State

<table>
    <thead>
        <tr>
            <th>Input</th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pair in Model.history)
        {
            <tr>
                <td>
                    @pair.Key
                </td>
                <td>
                    @pair.Value
                </td>
            </tr>
        }
    </tbody>
</table>