@model GAWebApp.Models.State

<!--TODO: Find different latex server that can handle larger expressions.-->
<table>
    <tbody>
        @foreach (var item in Model.history) {
            <tr>
                <td class="historyInput">
                    @if(item.error.Length > 0) {
                        <div style="color: red;">@item.expression</div>
                    } else if(item.inputLatex.Length > 0) {
                        <img src=@($"https://latex.codecogs.com/gif.latex?{@item.inputLatex}")>
                    }
                </td>
            </tr>
            <tr>
                <td class="historyOutput">
                    @if(item.error.Length > 0) {
                        <div style="color: red;">@item.error</div>
                    } else if(item.outputLatex.Length > 0) {
                        <img src=@($"https://latex.codecogs.com/gif.latex?{@item.outputLatex}")>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>