@model GAWebApp.Models.State

<table>
    <tbody>
        @foreach (var pair in Model.history)
        {
            <tr>
                <td class="historyInput">
                    <img src=@($"https://latex.codecogs.com/gif.latex?{@pair.Item1}")>
                </td>
            </tr>
            <tr>
                <td class="historyOutput">
                    <img src=@($"https://latex.codecogs.com/gif.latex?{@pair.Item2}")>
                    <!--TODO: Add an 'x' button to clear this row using JS.-->
                </td>
            </tr>
        }
    </tbody>
</table>