@model GAWebApp.Models.State

<center><h2>Geometric Algebra Calculator</h2></center>

@if (Model.history.Count > 0)
{
    <div id="historyView">
        @Html.Partial("HistoryView", Model);
    </div>
}
else
{
    <div id="historyView">
        No history.  Enter an expression below.
    </div>
}

<br />
<input type="text" onkeydown="textbox_keydown(this)">
