@model GAWebApp.Models.State

<h2>Geometric Algebra Calculator (v1.0) Beta!</h2>

@if (Model.history.Count > 0)
{
    <div id="historyView">
        @Html.Partial("HistoryView", Model);
    </div>
}
else
{
    <p>No history.  Enter an expression below.</p>
}

<input type="text" onkeydown="textbox_keydown(this)">