@model GAWebApp.Models.State

<center><h2>GA Calculator</h2></center>

@if (Model.history.Count > 0)
{
    <div id="historyView">
        @Html.Partial("HistoryView", Model);
    </div>
}
else
{
    <div id="historyView">
        <div style="width: 100%; height: 100%; position: relative">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: auto; height: auto">
                Nothing to show yet.  Please enter an expression in the box below.
            </div>
        </div>
    </div>
}

<input type="text" onkeydown="textboxKeydown(this)" id="expressionBox" /><br />
<input type="file" id="scriptBox" /><br />
<input type="checkbox" id="showLatexCheckbox" onclick="showLatexCheckboxClicked()" checked/>Show Latex<br />
<input type="button" onclick="clearHistoryButtonClicked()" value="Clear" /><br />
