<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GA Calculator</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="~/js/script.js"></script>
</head>
    <body>
        <div>
            @RenderBody()
            <hr />
            <footer>
                <p>GA Calculator -- &copy; 2019</p>
            </footer>
        </div>
    </body>
</html>
